# Ignore specific folders
temp_folder/
logs/
build/

# Ignore specific file types
*.log
*.bak
*.tmp

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore the content of the ROM folder
ROM/*
!ROM/
