/*  FONTS */
.main-title {
    font-family: "Press Start 2P", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 4em;
    position: absolute;
    margin-left: 100px;
}

.game-title {
    font-family: "Press Start 2P", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background: grey;
    border-bottom: 2px solid #444;
    color: white;
    margin: 0;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
}

.gameinfo {
    font-family: "Micro 5", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3em;
    text-align: center;
    color: rgba(255, 255, 255, 0.801);
    display:block;
    padding-top: 5px;
}

.play-button-text {
    font-family: "Press Start 2P", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 5px;
    text-align: center;
    font-size: 0.7em;
    color: white;
}

.featured-games-title {
    font-family: "Press Start 2P", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
    /*border-bottom: 5px solid rgb(90, 0, 180);*/
    color: white;
    font-size: 1.4em;
    /*background-color: rgb(90, 0, 180);*/
    line-height: 40px;
}

.press-start-font {
    font-family: "Press Start 2P", serif;
    font-weight: 400;
    font-style: normal;
}

.doto-font {
    font-family: "Doto", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
      "ROND" 0;
}

.micro-5-font {
    font-family: "Micro 5", serif;
    font-weight: 400;
    font-style: normal;
}

.blue-text {
    color: rgb(0, 130, 200)
}

.purple-text {
    color: rgb(90, 0, 180)
}

.center {
    text-align: center;
}

.italic {
    font-style: italic;
}

.credentials, .copyright {
    font-family: "Press Start 2P", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 0.6em;
}

.credentials {
    padding-bottom: 10px;
}

/* RESET CSS */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* GLOBAL SETTINGS */

body, html {
    background-color: #0a0a0e;
    cursor: url('docs/assets/cursor.png'), auto;
}

.hidden {
    display: none;
}

a {
    color: rgb(0, 130, 200);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    cursor: url('docs/assets/cursor-click.png'), auto;
}

a:visited {
    color: rgb(0, 130, 200);
    text-decoration: none;
}

/* LOGO */
.logo {
    width: 60px;

}

/* DIVS LAYOUT */
#main-wrapper{
    display:block;
    margin: 0 400px 0 400px;
    background-color: #13151a;
}

#card {
    flex: 1;
    image-rendering: pixelated;
    height: 500px;
    min-width: 250px;
    max-width: 250px;
    margin: 10px 10px 20px 10px;
    border: 3px solid grey;
    border-radius: 5px;
    transition: border 0.5s;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-top: 5px solid rgb(114, 114, 114);
    border-left: 5px solid rgb(114, 114, 114);
    border-right: 5px solid rgb(59, 59, 59);
    border-bottom: 5px solid rgb(59, 59, 59);
}

.card-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: repeating-linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.432),
        rgba(0, 0, 0, 0.432),
        transparent 5px,
        transparent 10px
    );
}

.game-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.game-title-content {
    max-height: 100%;
    width: 100%;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: center;
    line-height: 1.2;
    font-size: clamp(0.5em, 1em, 1.2em);
}

.featured-games-title-wrapper {
    background-color: rgb(90, 0, 180);
    border-top: 5px solid rgb(123, 18, 209);
    border-left: 5px solid rgb(123, 18, 209);
    border-right: 5px solid rgb(59, 6, 129);
    border-bottom: 5px solid rgb(59, 6, 129);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* inner content margin */
.featured-games-title-wrapper, #content {
    margin: 0 40px 0 40px;
}

#featured-container {
    display: flex;
}

#featured-games, #pokemon-games, #retour-vers-le-futur {
    display: block;
    border-left: 5px solid rgb(123, 18, 209);
    border-bottom: 5px solid rgb(59, 6, 129);
    border-right: 5px solid rgb(59, 6, 129);
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 20px;
    overflow: scroll;
}

header {
    height: 200px;
    margin: 0 10px 0 10px;
}

.header-wrapper {
    padding: 50px 0 0 50px;
}

.boxart {
    width: 200px;
    height: 280px;
    object-fit: contain;
}

.play-button {
    height: 60px;
    width: 100%;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(0, 130, 200);
    border-top: 5px solid rgb(44, 174, 235);
    border-left: 5px solid rgb(44, 174, 235);
    border-right: 5px solid rgb(10, 60, 117);
    border-bottom: 5px solid rgb(10, 60, 117);
    transition: background-color 0.3s;
    transition: border 0.3s;
}

.play-button:hover {
    background: rgb(3, 115, 175);
    border-top: 5px solid rgb(10, 60, 117);
    border-left: 5px solid rgb(10, 60, 117);
    border-right: 5px solid rgb(44, 174, 235);
    border-bottom: 5px solid rgb(44, 174, 235);
    cursor: url('docs/assets/cursor-click.png'), auto;
}

.play-button p {
    line-height: 30px;
}

#game-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: auto;
    max-width: 700px;
    z-index: 1000;
    border-radius: 10px;
}

.game-wrapper {
    width: 640px;
    height: 480px;
    max-width: 100%;
}

#close-popup {
    position: absolute;
    top: 0;
    right: 20px;
    width: 30px;
    height: 30px;
    background: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
    z-index: 1001;
    color: white;
    background-color: rgb(216, 11, 55);
    border-radius: 10px;
}

.game-ph {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
}

footer {
    display: block;
    height: 200px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 50px;
    border-top: 2px solid rgb(90, 0, 180);
    color: white;
}

/* USER ROM BOX 
#user-rom-box {
    color: #aaa;
    height: 20em;
    width: 30em;
    max-width: 80%;
    max-height: 80%;
    background-color: #333;
    border-radius: 0.4em;
    border: 2px solid #555;
    position: relative;
    flex-direction: column;
    transition-duration: 0.2s;
    overflow: hidden;
    font-family: monospace;
    font-weight: bold;
    font-size: 20px;
    margin: 5px;
}

#user-rom-box:hover, #user-rom-box[drag] {
    border-color: rgb(0, 130, 200);
    color: #ddd
}

#input {
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0
}

#display {
    width: 100%;
    height: 100%
}

select, button {
    padding: 0.6em 0.4em;
    margin: 0.5em;
    width: 15em;
    max-width: 100%;
    font-family: monospace;
    font-weight: bold;
    font-size: 16px;
    background-color: #444;
    color: #aaa;
    border-radius: 0.4em;
    border: 1px solid #555;
    cursor: pointer;
    transition-duration: 0.2s
}

select:hover, button:hover {
    background-color: #666;
    color: #ddd
} */

/* RESPONSIVE */
@media (max-width: 1920px) {
    #main-wrapper {
        margin: 0 200px 0 200px;
    }
}

@media (max-width: 1300px) {
    #main-wrapper {
        margin: 0 100px 0 100px;
    }
}

@media (max-width: 700px) {
    #featured-container {
        flex-direction: column;
    }

    #main-wrapper {
        margin: 0 20px 0 20px;
    }

    #card {
        min-height: 500px;
    }

    .main-title {
        font-size: 3em;
        margin-left: 90px;
    }

    .logo {
        width: 60px;
    }
}

/* BODY SCAN LINES */

body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.15),
        rgba(0, 0, 0, 0.15) 3px,
        transparent 3px,
        transparent 4px
    );
    pointer-events: none;
    z-index: 9999;
}
