/* VARIABLES */
:root {

  --bg-main: #0a0a0e;
  --bg-content: #111317;
  --bg-featured: #161a22;
  --blue: rgb(0, 130, 200);
  --purple: rgb(90, 0, 180);
  --grey: rgb(128, 124, 120);
  --red: #f44336;
  --green: #4caf50;
  --yellow: rgb(243, 230, 0);
  --border-light-content: #353f4b;
  --border-dark-content: #0b0f1f;
  --border-light-blue: rgb(55, 185, 245);
  --border-dark-blue: rgb(8, 48, 94);
  --border-light-purple: rgb(123, 18, 209);
  --border-dark-purple: rgb(59, 6, 129);
  --border-light-grey: rgb(175, 171, 167);
  --border-dark-grey: rgb(54, 50, 46);
  --border-light-red: #f16615;
  --border-dark-red: #911d1d;
  --border-light-green: #84df6e;
  --border-dark-green: #276e36;
  --border-light-yellow: rgb(255, 232, 131);
  --border-dark-yellow: rgb(150, 167, 6);
  --blue-active: rgb(0, 105, 162);
  --purple-active: rgb(82, 0, 163);
  --grey-active: rgb(106, 102, 98);
  --red-active: #d83b30;
  --green-active: #419644;
  --yellow-active: rgb(219, 208, 0);
  --search-input: rgb(19, 29, 34);
  --search-input-ph: rgba(255, 255, 255, 0.5);
  --search-input-focus: rgb(29, 44, 51);

  --cancel: #e5e7eb;
  --cancel-active: #cbced8;
  --cancel-border-light: #ffffff;
  --cancel-border-dark: #6a7388;

  --font-press-start: "Press Start 2P", serif;
  --font-pixelify: "Pixelify Sans", serif;
  --font-micro: "Micro 5", serif;

  --cursor: url("/assets/cursor.png"), auto;
  --cursor-click: url("/assets/cursor-click.png"), auto;

  --radius-big: 10px;
  --radius-small: 5px;
}

/* RESET CSS */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*  GLOBAL FONTS STYLING */
.featured-games-title-h2 {
  font-family: var(--font-press-start);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
  color: white;
  font-size: 1.4em;
  line-height: 40px;
  margin: 0;
}

.blue-text {
  color: var(--blue);
}

.purple-text {
  color: var(--purple);
}

.center {
  text-align: center;
}

.italic {
  font-style: italic;
}

.text-shadow-small {
  text-shadow: 1px 1px 2px black;
}

.beta-span {
  position: relative;
  top: -35px;
  font-size: 0.2em;
  color: var(--yellow);
}

a {
  color: var(--blue);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: url("/assets/cursor-click.png"), auto;
}

a:visited {
  color: var(--blue);
  text-decoration: none;
}

img {
  color: var(--blue);
}

/* GLOBAL SETTINGS */
body,
html {
  background-color: var(--bg-main);
  cursor: url("/assets/cursor.png"), auto;
}

body::after {
  /* Scanlines FX */
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1)),
    repeating-linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.12),
      rgba(0, 0, 0, 0.12) 2px,
      transparent 2px,
      transparent 4px
    );
  pointer-events: none;
  z-index: 9999;
}

.page-transition {
  animation: fadeIn 1s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* SCROLLBARS BEGONE */
/* Scrollable areas are indicated by alpha gradients instead. */
*::-webkit-scrollbar {
  /* Chrome */
  display: none;
}

* {
  /* Others */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* GLOBAL DIVS LAYOUT */
#main-wrapper {
  display: block;
  margin: 3rem auto;
  max-width: 70%;
  width: 100%;
  background-color: var(--bg-content);
  border-top: 5px solid var(--border-light-content);
  border-left: 5px solid var(--border-light-content);
  border-right: 5px solid var(--border-dark-content);
  border-bottom: 5px solid var(--border-dark-content);
  border-radius: var(--radius-big);
}

.featured-games-title-wrapper {
  background-color: var(--purple);
  border-top: 5px solid var(--border-light-purple);
  border-left: 5px solid var(--border-light-purple);
  border-right: 5px solid var(--border-dark-purple);
  border-bottom: 5px solid var(--border-dark-purple);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.featured-games-title-wrapper,
#content {
  margin: 0 auto;
  max-width: 86%;
  width: 100%;
}

#featured-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 250px));
  justify-content: center;
  gap: 3rem;
  min-width: 90%;
  padding: 2rem;
  border-left: 5px solid var(--border-light-purple);
  border-bottom: 5px solid var(--border-dark-purple);
  border-right: 5px solid var(--border-dark-purple);
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 50px;

  background-color: var(--bg-featured);
}

/* LOGIN AND REGISTER FORMS */
.auth-container {
  max-width: 400px;
  margin: 2rem auto;
  border-radius: 10px;
  background: var(--grey);
  border-top: 5px solid var(--border-light-grey);
  border-left: 5px solid var(--border-light-grey);
  border-right: 5px solid var(--border-dark-grey);
  border-bottom: 5px solid var(--border-dark-grey);
}

.box-title {
  font-family: var(--font-press-start);
  font-weight: 400;
  font-style: normal;
  padding: 2rem;
}

h2.pwdrecovery-box-title {
  font-family: var(--font-press-start);
  font-weight: 400;
  font-style: normal;
  padding: 2rem;
  font-size: 1.2em;
  text-align: center;
}

.auth-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  padding: 0 2rem 1.2rem 2rem;
  flex-direction: column;
}

label {
  font-family: var(--font-pixelify);
  font-weight: 400;
  font-size: 1.2em;
  margin-bottom: 7px;
}

.form-group input[type="email"],
.form-group input[type="password"],
.form-group input[type="text"] {
  padding: 10px;
  border-top: 5px solid var(--border-dark-grey);
  border-left: 5px solid var(--border-dark-grey);
  border-right: 5px solid var(--border-light-grey);
  border-bottom: 5px solid var(--border-light-grey);
  font-family: var(--font-pixelify);
  font-weight: 400;
  font-size: 1em;
}

.error-message {
  color: var(--red);
  font-size: 0.875rem;
  text-align: center;
  font-family: var(--font-pixelify);
  font-weight: 400;
  font-size: 0.9em;
  padding-bottom: 10px;
}

button.loginbutton {
  width: 100%;
  height: 80px;
  padding: 0.75rem;
  color: white;
  border: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: url("/assets/cursor-click.png"), auto;
  background: var(--blue);
  border-top: 5px solid var(--border-light-blue);
  border-left: 5px solid var(--border-light-blue);
  border-right: 5px solid var(--border-dark-blue);
  border-bottom: 5px solid var(--border-dark-blue);
  font-family: var(--font-press-start);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
  text-align: center;
  font-size: 0.7em;
  line-height: 30px;
  font-size: 1em;
  transition: font-size 0.2s;
}

button.loginbutton:hover {
  font-size: 1.1em;
}

button.loginbutton:active {
  background: var(--blue-active);
  border-top: 5px solid var(--border-dark-blue);
  border-left: 5px solid var(--border-dark-blue);
  border-right: 5px solid var(--border-light-blue);
  border-bottom: 5px solid var(--border-light-blue);
}

button.loginbutton:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.auth-switch,
.resetpwd {
  text-align: center;
  font-family: var(--font-pixelify);
  font-weight: 400;
  font-size: 0.9em;
  padding-bottom: 1.2rem;
}

a.auth-switch-link,
a.resetpwd-link {
  color: var(--border-light-purple);
}

input {
  padding: 0.5rem;
  border: 1px solid #d1d5db;
  border-radius: 4px;
}

/* Modern standard breakpoints */
@media (max-width: 1536px) {
  /* 2xl */
}
@media (max-width: 1280px) {
  #main-wrapper {
    margin: 2rem auto;
    max-width: 80%;
    width: 100%;
  }
}
@media (max-width: 1024px) {
  #main-wrapper {
    margin: 2rem auto;
    max-width: 90%;
    width: 100%;
  }
}
@media (max-width: 768px) {
  #main-wrapper {
    margin: 2rem auto;
    max-width: 95%;
    width: 100%;
  }
}
@media (max-width: 640px) {
  #main-wrapper {
    margin: 2rem auto;
    max-width: 95%;
    width: 100%;
  }
  .main-title {
    font-size: 1em;
  }
  .main-title-sub {
    font-size: 1.2em;
  }
}
@media (max-width: 475px) {
  #main-wrapper {
    margin: 2rem auto;
    max-width: 95%;
    width: 100%;
  }

  .featured-games-title-wrapper,
  #content {
    margin: 0 auto;
    max-width: 95%;
    width: 100%;
  }
}
