/* RESET CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*  GLOBAL FONTS STYLING */
.featured-games-title-h2 {
  font-family: var(--font-primary);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
  color: white;
  font-size: 1.4em;
  line-height: 40px;
  margin: 0;
}

.blue-text {
  color: var(--accent-primary);
}

.purple-text {
  color: var(--accent-secondary);
}

.center {
  text-align: center;
}

.italic {
  font-style: italic;
}

.text-shadow-small {
  text-shadow: 1px 1px 2px black;
}

.beta-span {
  position: relative;
  top: -35px;
  font-size: 0.2em;
  color: var(--yellow);
}

a {
  color: var(--accent-primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: url("/assets/cursor-click.png"), auto;
}

a:visited {
  color: var(--accent-primary);
  text-decoration: none;
}

img {
  color: var(--accent-primary);
}

/* GLOBAL SETTINGS */
body,
html {
  background-color: var(--bg-main);
  cursor: url("/assets/cursor.png"), auto;
}

body::after {
  /* Scanlines FX */
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1)),
    repeating-linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.12),
      rgba(0, 0, 0, 0.12) 2px,
      transparent 2px,
      transparent 4px
    );
  pointer-events: none;
  z-index: 9999;
}

.page-transition {
  animation: fadeIn 1s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* SCROLLBARS BEGONE */
/* Scrollable areas are indicated by alpha gradients instead. */
*::-webkit-scrollbar {
  /* Chrome */
  display: none;
}

* {
  /* Others */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* GLOBAL DIVS LAYOUT */
#main-wrapper {
  position: relative;
  display: block;
  margin: 3rem auto;
  max-width: 70%;
  width: 100%;
  background-color: var(--bg-content);
  border-top: 5px solid var(--border-content-light);
  border-left: 5px solid var(--border-content-light);
  border-right: 5px solid var(--border-dark-content);
  border-bottom: 5px solid var(--border-dark-content);
  border-radius: var(--radius-big);
  z-index: 9;
}

#app {
  position: relative;
  z-index: 10;
}

.featured-games-title-wrapper {
  background-color: var(--accent-secondary);
  border-top: 5px solid var(--border-secondary-light);
  border-left: 5px solid var(--border-secondary-light);
  border-right: 5px solid var(--border-secondary-dark);
  border-bottom: 5px solid var(--border-secondary-dark);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.featured-games-title-wrapper,
#content {
  margin: 0 auto;
  max-width: 86%;
  width: 100%;
}

#featured-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 250px));
  justify-content: center;
  gap: 3rem;
  min-width: 90%;
  padding: 2rem;
  border-left: 5px solid var(--border-secondary-light);
  border-bottom: 5px solid var(--border-secondary-dark);
  border-right: 5px solid var(--border-secondary-dark);
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 50px;

  background-color: var(--bg-featured);
}

/* LOGIN AND REGISTER FORMS */
.auth-container {
  max-width: 400px;
  margin: 2rem auto;
  border-radius: 10px;
  background: var(--main-light);
  border-top: 5px solid var(--border-light);
  border-left: 5px solid var(--border-light);
  border-right: 5px solid var(--border-dark);
  border-bottom: 5px solid var(--border-dark);
}

.box-title {
  font-family: var(--font-primary);
  font-weight: 400;
  font-style: normal;
  padding: 2rem;
}

h2.pwdrecovery-box-title {
  font-family: var(--font-primary);
  font-weight: 400;
  font-style: normal;
  padding: 2rem;
  font-size: 1.2em;
  text-align: center;
}

.auth-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  padding: 0 2rem 1.2rem 2rem;
  flex-direction: column;
}

label {
  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: 1.2em;
  margin-bottom: 7px;
}

.form-group input[type="email"],
.form-group input[type="password"],
.form-group input[type="text"] {
  padding: 10px;
  border-top: 5px solid var(--border-dark);
  border-left: 5px solid var(--border-dark);
  border-right: 5px solid var(--border-light);
  border-bottom: 5px solid var(--border-light);
  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: 1em;
}

.error-message {
  color: var(--red);
  font-size: 0.875rem;
  text-align: center;
  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: 0.9em;
  padding-bottom: 10px;
}

button.loginbutton {
  width: 100%;
  height: 80px;
  padding: 0.75rem;
  color: white;
  border: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: url("/assets/cursor-click.png"), auto;
  background: var(--accent-primary);
  border-top: 5px solid var(--border-primary-light);
  border-left: 5px solid var(--border-primary-light);
  border-right: 5px solid var(--border-primary-dark);
  border-bottom: 5px solid var(--border-primary-dark);
  font-family: var(--font-primary);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
  text-align: center;
  font-size: 0.7em;
  line-height: 30px;
  font-size: 1em;
  transition: font-size 0.2s;
}

button.loginbutton:hover {
  font-size: 1.1em;
}

button.loginbutton:active {
  background: var(--accent-primary-active);
  border-top: 5px solid var(--border-primary-dark);
  border-left: 5px solid var(--border-primary-dark);
  border-right: 5px solid var(--border-primary-light);
  border-bottom: 5px solid var(--border-primary-light);
}

button.loginbutton:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.auth-switch,
.resetpwd {
  text-align: center;
  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: 0.9em;
  padding-bottom: 1.2rem;
}

a.auth-switch-link,
a.resetpwd-link {
  color: var(--border-secondary-light);
}

input {
  padding: 0.5rem;
  border: 1px solid #d1d5db;
  border-radius: 4px;
}

/* Modern standard breakpoints */
@media (max-width: 1536px) {
  /* 2xl */
}
@media (max-width: 1280px) {
  #main-wrapper {
    margin: 2rem auto;
    max-width: 80%;
    width: 100%;
  }
}
@media (max-width: 1024px) {
  #main-wrapper {
    margin: 2rem auto;
    max-width: 90%;
    width: 100%;
  }
}
@media (max-width: 768px) {
  #main-wrapper {
    margin: 2rem auto;
    max-width: 95%;
    width: 100%;
  }
}
@media (max-width: 640px) {
  #main-wrapper {
    margin: 2rem auto;
    max-width: 95%;
    width: 100%;
  }
  .main-title {
    font-size: 1em;
  }
  .main-title-sub {
    font-size: 1.2em;
  }
}
@media (max-width: 475px) {
  #main-wrapper {
    margin: 2rem auto;
    max-width: 95%;
    width: 100%;
  }

  .featured-games-title-wrapper,
  #content {
    margin: 0 auto;
    max-width: 95%;
    width: 100%;
  }
}
